
@font-face {
  font-family: 'Averia Gruesa Libre';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/averia/averia-gruesa-libre-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/averia/averia-gruesa-libre-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/averia/averia-gruesa-libre-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/averia/averia-gruesa-libre-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/averia/averia-gruesa-libre-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/averia/averia-gruesa-libre-v9-latin-regular.svg#AveriaGruesaLibre') format('svg'); /* Legacy iOS */
}


*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: #222;
	color: #d3d3d3;
	font-family: 'Averia Gruesa Libre';
}

body.lock {
	overflow: hidden;
}

@media screen and (min-width: 768px) {
	body.lock {
		overflow: auto;
	}
}

h1 {
	padding: 0 30px 10px 5px;
	margin: 0 0 30px 0;
	display: inline-flex;
	border-bottom: 2px solid #ccc;
}

p {
	margin-bottom: 20px;
}

ul {
	list-style: none;
}


.fixed {
	position: fixed!important;
}


@keyframes topLineSlideUp {
	0%{top: -100px;}
	100%{top: 0;}
}

@keyframes topLineSlideDown {
	0%{top: 0px;}
	50%{top: -100px;}
	100%{
		position: relative;
		top: 0px;
	}
}

.section {
	display: flex;
	align-items: center;
	min-height: 100vh;
}

.section-inner {
	display: flex;
}

.section__left	{
	flex: 0 0 50%;
	padding: 20px;
}

.section__right	{
	flex: 0 0 50%;
	padding: 20px;
	background: rgba(255,255,255, .02);
}


/* --------- HEADER ---------  */


.header {
	min-height: 100vh;
	background: #222;
}

.top-line-wrapper {
	height: 100px;
}

.top-line {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0 10px;
	transition: .5s;
}

.top-line::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #333;
}

.top-line.slideDown {
	position: fixed;
	z-index: 10;
	animation: topLineSlideDown .5s linear forwards;
}

.top-line.slideUp {	
	position: fixed;
	z-index: 10;
	animation: topLineSlideUp .5s linear forwards;
}


.logo {
	
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	background: #222;
}

.logo__link	{
	padding: 20px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
}


.logo__image {
	max-width: 100%;
}

/* menu */

.menu {
	position: relative;
	z-index: 100;
}

.menu__list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}

.menu__item {
	padding: 10px 20px;
	transition: all .5s;
}

.menu__link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 15px 10px;
	background: #333;
	color: #222;
	font-size: 30px;
	text-decoration: none;
	transition: all .7s;
}

.menu__link:hover {
	/*background: rgba(30,30,30, .2);*/
	color: #eee;
}


@media screen and (max-width: 767px) {

	.menu {
		position: fixed;
		top: -110vh;
		left: 0;
		width: 100%;
		height: 110vh;
		overflow: auto;
		padding: 80px 10px 80px 5px;
		background-color: #222;
		transition: .3s;
	}

	.menu.active {
		top: 0;
	}

	.menu__list {
		display: flex;
		position: relative;
		z-index: 1;
		flex-direction: column;
	}

}



/* --------- burger --------- */

.burger {
	display: none;
	position: relative;
	width: 30px;
	height: 20px;
	z-index: 999;
	cursor: pointer;
}

.burger span {
	width: 100%;
	height: 2px;
	position: absolute;
	top: 9px;
	left: 0;
	background-color: #fff;
}

.burger::before,
.burger::after {
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	background-color: #fff;
	transition: .3s;
	content: '';
}

.burger::before { top: 0; }
.burger::after { bottom: 0; }

.burger.active::before {
	transform: rotate(45deg);
	top: 9px;
}

.burger.active::after {
	transform: rotate(-45deg);
	bottom: 9px;
}

.burger.active span {
	display: none;
}

@media screen and (max-width: 767px) {
	.burger {
		display: block;
	}
}

.header-buttons {
	width: 20%;
	margin-top: 100px;
	margin-left: 20px;
	display: flex;
	justify-content: space-between;
}

.button {
	padding: 10px 15px;
	border-radius: 8px;
	background: #2c2c2c;
}


/* --------- MAIN-CONTENT ---------  */


.main-content {
	padding: 20px;
	background: #1c1c1c;
}


.s2 {
	background: #111;
}


.gallery {}

.gallery__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gallery__item {
	flex: 0 0 33%;
	height: 200px;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #222;
	cursor: pointer;
	transition: background .5s;
}

.gallery__item:hover {
	background: #2c2c2c;
}

/* --------- FOOTER ---------  */


.footer {
	display: flex;
	padding: 20px;
	background: #222;
}

.footer__left {
	flex: auto;
	display: flex;
	align-items: center;
	background: #222;
}

.footer__right {
	flex: auto;
}

.footer-menu {
	width: 100%;
	padding: 10px 30px;
}

.footer-menu__list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #222;
	list-style: none;
}

.footer-menu__item {
	padding: 20px 30px;
	background: #1c1c1c;
}

.footer-menu__link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #777;
	padding: 10px 20px;
	background: #222;
	transition: color .3s;
}

.footer-menu__link:hover {
	color: #ccc;
	background: #2c2c2c;
}